.blockquote {
  background: #eaeef2;
  border: 1px solid #d9e0e8;
  box-sizing: border-box;
  margin: auto;
  max-width: 600px;
  padding: 25px;
  position: relative;
}

.blockquote-author {
  margin: 0px;
  text-align: right;
}

.blockquote-border {
  border-left-width: 10px;
}

.blockquote-text {
  font-family: 'Gelasio', serif;
  font-style: italic;
  font-size: 1.15em;
}

.blockquote img {
  height: 100px;
  width: 70px;
  position: absolute;
  left: 60px;
  bottom: 5px;
}
