/* Top-Container */

body {
  color: #132b33;
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #3bafb2;
  font-size: 5.625rem;
  font-family: "Roboto Slab", serif;
  margin: 50px auto 0 auto;
}

h2 {
  color: #31afb2;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #146d82;
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  color: #146d82;
  text-decoration: none;
}

p {
  line-height: 2;
}

hr {
  border: dotted #d8e3e6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.top-container {
  padding: 10px 0px 10px 0px;
  position: relative;
  background-color: #494e5e;
}

#my-navbar {
  background-color: #3bafb2;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  height: 5%;
  width: 100%;
}

#my-navbar a {
  display: inline-block;
  padding: 10px 0 10px 15px;
  text-align: center;
}

#my-navbar a:hover {
  color: #d8e3e6;
}

/* Middle-Container */

.middle-container {
  margin: 50px auto;
}

.middle-container a:hover {
  color: #494e5e;
  text-decoration: none;
}

.intro {
  width: 100%;
}

.hobby {
  font-weight: bold;
  color: #3bafb2;
}

.skill-row {
  margin: 75px auto;
  text-align: left;
  width: 50%;
}

.profile {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.contact-me {
  margin: 20px auto;
}

.contact-me-text {
  margin: 30px auto 50px auto;
  width: 40%;
}

.comic-book-shelf {
  margin: 0px;
  height: 450px;
  width: 700px;
}

/* Audio/Video files */

figure {
  color: #3bafb2;
  font-size: 16px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Buttons */

.btn {
  background-color: #31afb2;
  border-radius: 5px;
  color: white;
  padding: .6rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #146d82;
  border-radius: 5px;
  color: white;
  padding: .6rem;
  text-decoration: none;
}

/* Images */

.coding-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.reward-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.teamwork-img {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.fav-learn {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 50% 50%;
  margin: 50px auto;
  width: 600px;
}

.learn-logo {
  height: 120px;
  width: 300px;
}

#backtotop {
  background-color: #146d82;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 20px;
  opacity: 0.6;
  height: 40px;
  width: 40px;
}

#backtotop:hover {
  background-color: #132b33;
}

/*
.top-comics-img {
  height: 160px;
  width: 100px;
  float: left;
}*/

/* Links */

/* Lists */

.lists {
  text-align: justify;
}

/* Quotes */

.blockquote {
  background: #eaeef2;
  border: 1px solid #d9e0e8;
  box-sizing: border-box;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  position: relative;
}

.blockquote-author {
  font-size: 0.8em;
  margin: 0px;
  opacity: 0.5;
  text-align: right;
}

.blockquote-border {
  border-left-width: 10px;
}

.blockquote-text {
  font-family: 'Gelasio', serif;
  font-style: italic;
  font-size: 1.15em;
}

.blockquote img {
  height: 100px;
  width: 70px;
  position: absolute;
  left: 60px;
  bottom: 3px;
}

/* Tables */

table {
  box-sizing: border-box;
  margin: auto;
  width: 600px;
}

th {
  background-color: #eaeef2;
  text-align: left;
}

td {
  text-align: left;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
 padding: 5px;
}

/* Navbar */

/* Bottom-Container */

.bottom-container {
  background-color: #494e5e;
  text-decoration: none;
  position: relative;
  padding: 50px 0 20px 0;
  margin: 50px auto 0 auto;
}

.c-footer {
  color: white;
  font-size: 0.75rem;
  margin-top: 50px;
}

.footer-link {
  color: #31afb2;
  padding: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #d8e3e6;
  padding: 20px;
  text-decoration: none;
}
