/* All */

html, body {
  color: #132b33;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  color: #3bafb2;
  font-size: 5.5rem;
  font-family: "Roboto Slab", serif;
  margin: 50px auto 0 auto;
}

h2 {
  color: #31afb2;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #146d82;
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  color: #146d82;
  text-decoration: none;
}

p {
  line-height: 2;
}

hr {
  border: dotted #d8e3e6 6px;
  border-bottom: none;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 106px;
  width: 4%;
}

/* Top-Container */

.top-container {
  padding: 10px 0 10px 0;
  position: relative;
  background-color: #494e5e;
  width: 100%;
}

#my-navbar {
  background-color: #3bafb2;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  height: 3%;
  width: 100%;
}

#my-navbar a {
  display: inline-block;
  padding: 10px 0 10px 15px;
  text-align: center;
}

#my-navbar a:hover {
  color: #d8e3e6;
}

/* Middle-Container */

.middle-container {
  height: 100%;
  display: inline-block;
  margin: 50px auto;
}

.middle-container a:hover {
  color: #494e5e;
  text-decoration: none;
}

.intro {
  margin: auto;
  width: 50%;
}

.hobby {
  font-weight: bold;
  color: #3bafb2;
}

.skill-row {
  margin: 75px auto;
  text-align: left;
  width: 50%;
}

.profile {
  display: inline-block;
  width: 100%;
  height: auto;
}

.contact-me {
  margin: 20px auto;
}

.contact-me-text {
  margin: 30px auto 50px auto;
  width: 40%;
}

.comic-book-shelf {
  margin: 0;
  height: 450px;
  width: 700px;
}

/* Audio/Video files */

figure {
  color: #3bafb2;
  font-size: 16px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#funkysounds {
  max-width: 100%;
  width: 200px;
  height: 30px;
}
/* Buttons */

.btn {
  background-color: #31afb2;
  border-radius: 5px;
  color: white;
  padding: .6rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #146d82;
  border-radius: 5px;
  color: white;
  padding: .6rem;
  text-decoration: none;
}

/* Images */

.coding-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  max-width: 100%;
  height: auto;
}

.profile-pic {
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
  width: 300px;
}

.reward-img {
  float: left;
  max-width: 100%;
  width: 25%;
  height: auto;
  margin-right: 30px;
}

.teamwork-img {
  float: right;
  max-width: 100%;
  width: 25%;
  margin-left: 30px;
}

.fav-learn {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 50% 50%;
  margin: 50px auto;
  max-width: 100%;
  width: 600px;
  height: auto;
}

.learn-logo {
  height: auto;
  width: 300px;
  max-width: 100%;
}

#backtotop {
  background-color: #146d82;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 20px;
  opacity: 0.6;
  height: auto;
  width: 40px;
  max-width: 100%;
}

#backtotop:hover {
  background-color: #132b33;
}

/*
.top-comics-img {
  height: 160px;
  width: 100px;
  float: left;
}*/

/* Links */

/* Lists */

.comic-list {
  text-align: center;
  display: inline-block;
}

/* Quotes */

.blockquote {
  background: #eaeef2;
  border: 1px solid #d9e0e8;
  box-sizing: border-box;
  margin: 0 auto 50px auto;
  max-width: 600px;
  padding: 30px 20px;
  position: relative;
}

.blockquote-author {
  font-size: 0.8em;
  margin: 0;
  opacity: 0.5;
  text-align: right;
}

.blockquote-border {
  border-left-width: 10px;
}

.blockquote-text {
  font-family: 'Gelasio', serif;
  font-style: italic;
  font-size: 1.15em;
  margin: 10px auto;
}

#blockquote-pic {
  height: 90px;
  width: 60px;
  position: absolute;
  left: 40px;
  bottom: 4px;
}

/* Tables */

table {
  box-sizing: border-box;
  margin: 50px auto;
  width: 600px;
}

th {
  background-color: #eaeef2;
  text-align: left;
}

td {
  text-align: left;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
 padding: 5px;
}

/* Navbar */

/* Bottom-Container */

.bottom-container {
  background-color: #494e5e;
  text-decoration: none;
  position: relative;
  padding: 50px 0 20px 0;
  margin: 50px auto 0 auto;
}

.c-footer {
  color: white;
  font-size: 0.75rem;
  margin-top: 50px;
}

.footer-link {
  color: #31afb2;
  padding: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #d8e3e6;
  padding: 20px;
  text-decoration: none;
}

/* Media Queries for responsiveness */

@media (max-width: 500px) {
 audio {
   max-width: 100px;
   width: 100px;
   height: 20px;
 }

  body {
    font-size: 16px;
  }

  hr {
    margin: 40px auto;
  }

  figure {
    font-size: 12px;
    margin-top: 0;
  }

  .top-container {
    width: 100%;
  }

  .top-container h1 {
    font-size: 44px;
    margin: 30px auto 0 auto;
  }

  .top-container h2 {
    font-size: 24px;
    padding: 5px;
    margin: 8px 0;
  }

  #my-navbar {
    font-size: 10px;
    height: 4%;
    width: 100%;
  }

  #my-navbar a {
    padding: 6px 6px;
    width: auto;
  }

  .middle-container {
    margin: 30px auto;
  }

  .middle-container h2 {
    font-size: 24px;
    padding: 5px;
    margin: 0;
  }

  .middle-container h3 {
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }

  .profile-pic {
    width: 50%;
  }

  .comic-page {
    margin: 0 auto;
  }

  .comic-page p {
    margin: 5px auto;
    width: 75%;
  }

  #greetings {
    margin-top: 16px;
  }

  .skill-row {
    margin: 30px auto;
  }

  .blockquote {
    font-size: 12px;
    padding: 15px;
    width: 75%;
  }

  #blockquote-pic {
    height: 50px;
    width: 35px;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  .fav-learn {
    width: 75%;
  }

  .contact-me h2 {
    font-size: 24px;
    padding: 5px;
    margin: 0;
  }

  .contact-me h3 {
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }

  .contact-me-text {
    margin: 20px auto 40px auto;
  }

  .btn {
    font-size: 12px;
  }

  #motivation-clip {
    height: 200px;
    width: 350px;
  }

  .motivation-text {
    margin: 40px auto;
    width: 50%;
  }

  table {
    width: 75%;
  }

  td {
    font-size: 12px;
  }

  .comic-book-shelf {
    height: auto;
    width: 100%;
  }

  .bottom-container {
    margin: 30px 0 0 0;
    padding: 30px 0 10px 0;
  }

  .footer-link {
    padding: 10px;
  }

  #backtotop {
    width: 30px;
  }

  .c-footer {
    margin: 25px 0 15px 0;
  }

  #copyright {
    font-size: 12px;
  }
}
